footer
  height: 90px
  padding: 40px 10px
  background-color: #181c1f

  .region-inner
    max-width: 990px
    font-size: 12px
    margin: auto
    text-transform: uppercase

    .block_menu
      float: left
      width: 24%
      position: relative
      border-style: none dashed none none
      border-width: 0.5px
      border-color: #8b939b
      height: 100px
      margin-right: 20px

      h6
        font-size: 11px
        color: white
        font-style: normal
        line-height: 0.8
        margin-top: 10px
        margin-bottom: 6px

      .menu
        list-style-type: none
        list-style-image: none
        padding: 0
        margin: 0

        .menu_item
          .menu_link
            color: #8b939b

            &:hover
              text-decoration: underline

    #location
      p
        margin-top: 0
        margin-bottom: 0
        color: #8b939b
