.information-header
  background-color: white
  padding-top: 70px
  .region-inner
    max-width: 990px
    margin: auto
    text-align: center

    h4
      margin: 0
      font-size: 18px
      color: #3a3a3a
